@model WUI.Models.ContactModel
@{
    ViewBag.Title = "Create";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

        <div class="form-group">
            @Html.LabelFor(m => m.Nom)
            @Html.TextBoxFor(m => m.Nom, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Titre)
            @Html.TextBoxFor(m => m.Titre, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Message)
            @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
        </div>

        <input type="submit" value="Envoyer" />

}