@model WUI.Models.MailModel
@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

        <div class="form-group">
            @Html.LabelFor(m => m.Nom)
            @Html.TextBoxFor(m => m.Nom, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Titre)
            @Html.TextBoxFor(m => m.Titre, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Message)
            @Html.TextBoxFor(m => m.Message, new { @class = "form-control" })
        </div>

        <input type="submit" value="Envoyer" />

}

<h2>Informations</h2>
<div class="row bloc-contact-informations">
    <section class="col-xs-12 col-sm-12 col-md-4 col-lg-4 contact">
        <h3>Téléphone</h3>
        <div class="tel-principal">
            <span>Principal :</span>
            <span>425.555.0100</span>
        </div>
        <div class="tel-hors-ouverture">
            <span>En dehors des heures d'ouverture :</span>
            <span>425.555.0199</span>
        </div>
    </section>

    <section class="col-xs-12 col-sm-12 col-md-4 col-lg-4 contact">
        <h3>Adresse de messagerie </h3>
        <div class="mail-support">
            <span>Support :</span>
            <span><a href="mailto:Support@example.com">Support@example.com</a></span>
        </div>
        <div class="mail-marketing">
            <span>Marketing :</span>
            <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
        </div>
        <div class="mail-general">
            <span>Général :</span>
            <span><a href="mailto:General@example.com">General@example.com</a></span>
        </div>
    </section>

    <section class="col-xs-12 col-sm-12 col-md-4 col-lg-4 contact">
        <h3>Adresse</h3>
        <div class="adresse">
            <div class="adresse-premierePartie">
                One Microsoft Way
            </div>
            <div class="adresse-premierePartie">
                Redmond, WA 98052-6399
            </div>
        </div>
    </section>
</div>