@model WUI.Models.MailModel
@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

        <div class="form-group">
            @Html.LabelFor(m => m.Nom)
            @Html.TextBoxFor(m => m.Nom, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Titre)
            @Html.TextBoxFor(m => m.Titre, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Message)
            @Html.TextBoxFor(m => m.Message, new { @class = "form-control" })
        </div>

        <input type="submit" value="Envoyer" />

}

<div name="adresse">
    <section class="contact">
        <header>
            <h3>Téléphone</h3>
        </header>
        <p>
            <span class="label">Principal :</span>
            <span>425.555.0100</span>
        </p>
        <p>
            <span class="label">En dehors des heures d'ouverture :</span>
            <span>425.555.0199</span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Adresse de messagerie </h3>
        </header>
        <p>
            <span class="label">Support :</span>
            <span><a href="mailto:Support@example.com">Support@example.com</a></span>
        </p>
        <p>
            <span class="label">Marketing :</span>
            <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
        </p>
        <p>
            <span class="label">Général :</span>
            <span><a href="mailto:General@example.com">General@example.com</a></span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Adresse</h3>
        </header>
        <p>
            One Microsoft Way<br />
            Redmond, WA 98052-6399
        </p>
    </section>
</div>