@model WUI.Models.RaceModel

@{
    ViewBag.Title = "Suppression";
}

<h3>Êtes-vous sur de vouloir supprimer cet élément ?</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnd)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Title)
        </td>
        <td>
            @Html.DisplayFor(model => model.Description)
        </td>
        <td>
            @Html.DisplayFor(model => model.DateStart)
        </td>
        <td>
            @Html.DisplayFor(model => model.DateEnd)
        </td>
    </tr>
</table>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <p>
        <button type="submit" value="Delete" class="btn btn-default">Delete</button> |
        @Html.ActionLink("Retour à la liste", "Index")
    </p>
}
