@using WUI.Models
@model IEnumerable<RaceModel>

@{
    ViewBag.Title = "Index";
}

@section css {
    @Styles.Render("~/Content/Race/css")
}

<h2>Liste des courses</h2>
@if (User.IsInRole("Administrateur"))
{
    <p>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        @Html.ActionLink("Créer une nouvelle course", "Create")
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Town)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxParticipants)
            </th>
            <th>
                Nb Inscrits
            </th>

            <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateEnd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Town)
                    </td>
                    <td>
                        @if (item.MaxParticipants != 0)
                        {
                            @Html.DisplayFor(modelItem => item.MaxParticipants);
                    }
                    else {
                            <div>Indéfini</div>
                        }
                    </td>

                    <td>
                        @if (item.Participants != null)
                    {
                        var nbParticipants = item.Participants.Count();
                            @(nbParticipants);
                    }
                    </td>

                    <td>
                        @Html.ActionLink("S'inscrire", "Register", new { id = item.Id })
                        @if (User.IsInRole("Administrateur"))
                    {
                            @Html.ActionLink("Modifier", "Edit", new { id = item.Id })
                            @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


@section scripts {
    @Scripts.Render("~/bundles/Race/js")
}