@model WUI.Models.Personnage
@{
    ViewBag.Title = "Index";
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

@section css {
    @Styles.Render("~/Content/Race/css")
}

@helper selected(string c, string culture)
{
    if (c == culture)
    {
        @:checked="checked"
    }
}
<h2>Race/Index</h2>
@using(Html.BeginForm("SetCulture", "Race"))
{
    <fieldset>
        <legend>@WUI.SiteRessource.ChooseYourLanguage</legend>
        <div class="control-group">
            <div class="controls">
                <label for="en-us">
                    <input name="culture" id="en-us" value="en-us" type="radio" @selected("en-US", culture) />
                    English
                </label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label for="es">
                    <input name="culture" id="fr" value="fr" type="radio" @selected("fr-FR", culture) />
                    France
                </label>
            </div>
        </div>
        @*<div class="control-group">
            <div class="controls">
                <label for="ar">
                    <input name="culture" id="ar" value="ar" type="radio" @selected("ar", culture) />
                    العربية
                </label>
            </div>
        </div>*@
    </fieldset>
}
    
    
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Age)
                @Html.ValidationMessageFor(model => model.Age)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Biography, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Biography)
                @Html.ValidationMessageFor(model => model.Biography)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@WUI.SiteRessource.Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        (function ($) {
            $("input[type = 'radio']").click(function () {
                $(this).parents("form").submit(); // post form
            });
        })(jQuery);
    </script>
}
    
    
    
    
    
    
    
    
    @*<h2>Liste des courses</h2>

    <nav class="navbar navbar-default">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-filter" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-filter">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filtres <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Race">Par défaut</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/Race?sortType=BY_TITLE">Par titre</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/Race?sortType=BY_TOWN">Par ville</a></li>
                    </ul>
                </li>
                <li>
                    <div class="form-group">
                        <input type="text" id="search-ac" class="form-control" autocomplete="on" placeholder="Recherche" style="margin-top: 10px;">
                    </div>
                </li>
            </ul>
        </div>

    </nav>

    <p>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        @Html.ActionLink("Créer une nouvelle course", "Create")
    </p>
    <div class="row row-bold">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            @Html.DisplayNameFor(model => model.Title)
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            @Html.DisplayNameFor(model => model.Description)
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            @Html.DisplayNameFor(model => model.DateStart)
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            @Html.DisplayNameFor(model => model.DateEnd)
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            @Html.DisplayNameFor(model => model.Town)
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Nb compet.</div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Nb organ.</div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">&nbsp;</div>
    </div>


    @if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                @Html.DisplayFor(modelItem => item.Title)
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                @Html.DisplayFor(modelItem => item.Description)
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                @Html.DisplayFor(modelItem => item.DateStart)
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                @Html.DisplayFor(modelItem => item.DateEnd)
            </div>
            <div class="col-xs-2 col-sm-2 col-lg-2">
                @Html.DisplayFor(modelItem => item.Town)
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                @Html.DisplayTextFor(modelItem => item.Competitors.Count)
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                @Html.DisplayTextFor(modelItem => item.Organisers.Count)
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Voir le détail", "Details", new { id = item.Id }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
            </div>
        </div>
    }
}


@section scripts {
    @Scripts.Render("~/bundles/Race/js")
}*@