@using WUI.Models
@model IEnumerable<RaceModel>

@{
    ViewBag.Title = "Index";
}

@section css {
    @Styles.Render("~/Content/Race/css")
}

<h2>Liste des courses</h2>
<p>
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    @Html.ActionLink("Créer une nouvelle course", "Create")
</p>
<div class="row row-bold">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        @Html.DisplayNameFor(model => model.DateStart)
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        @Html.DisplayNameFor(model => model.DateEnd)
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        @Html.DisplayNameFor(model => model.Town)
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Nb compet.</div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Nb organ.</div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">&nbsp;</div>
</div>


@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                @Html.DisplayFor(modelItem => item.Title)
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                @Html.DisplayFor(modelItem => item.Description)
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                @Html.DisplayFor(modelItem => item.DateStart)
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                @Html.DisplayFor(modelItem => item.DateEnd)
            </div>
            <div class="col-xs-2 col-sm-2 col-lg-2">
                @Html.DisplayFor(modelItem => item.Town)
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                @Html.DisplayTextFor(modelItem => item.Competitors.Count)
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                @Html.DisplayTextFor(modelItem => item.Organisers.Count)
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Voir le détail", "Details", new { id = item.Id }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
            </div>
        </div>
    }
}


@section scripts {
    @Scripts.Render("~/bundles/Race/js")
}