@model WUI.Models.RaceModel

@{
    ViewBag.Title = "Inscription";
}

@section css {
    @Styles.Render("~/Content/Race/css")
}

<h2>Inscription à la course @Html.DisplayTextFor(model => model.Title)</h2>

<p>Vous êtes bien inscrit à la course @Html.DisplayTextFor(model => model.Title) qui commenceras le @Html.DisplayTextFor(model => model.DateStart) 
    à @Html.DisplayTextFor(model => model.Town). Un email récapitulatif vous a été envoyer.</p>


@section scripts {
    @Scripts.Render("~/bundles/Race/js")
}