@if (Request.IsAuthenticated)
{
    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mon Compte<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Mes informations", "ManageInfos", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })</li>
            <li>@Html.ActionLink("Changer Mots de Passe", "ManagePassword", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })</li>
        </ul>
    </li>
    <li>@Html.ActionLink("Se déconnecter", "LogOff", "Account", routeValues: null, htmlAttributes: new { id = "registerLogOff" })</li>
}
else {
    <li>@Html.ActionLink("S'inscrire", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
