<li>@Html.ActionLink("Courses", "Index", "Race")</li>
<li>@Html.ActionLink("Catégories", "Index", "Category")</li>

@if (User.IsInRole("Administrateur"))
{
    <li>@Html.ActionLink("Liste des points", "Index", "Point")</li>
}

@if (User.IsInRole("Administrateur"))
{
    <li>@Html.ActionLink("Type de Point", "Index", "TypePoint")</li>
}

@if (Request.IsAuthenticated) {
    <li>@Html.ActionLink("Mes Inscriptions", "Index", "Participant")</li>
}
