<li>@Html.ActionLink("Courses", "Index", "Race")</li>

@if (User.IsInRole("Administrateur"))
{
    <li>@Html.ActionLink("Liste des points", "Index", "Point")</li>
    <li>@Html.ActionLink("Importer les résultats", "Import", "Resultat")</li>
}

@if (User.IsInRole("Administrateur"))
{
    <li>@Html.ActionLink("Type de Point", "Index", "TypePoint")</li>
}

@if (Request.IsAuthenticated) {
    <li>@Html.ActionLink("Mes Inscriptions", "Index", "Participant")</li>
}
