<li>@Html.ActionLink("Courses", "Index", "Race")</li>

@if (User.IsInRole("Administrateur"))
{
    <li>@Html.ActionLink("Types de Point", "Index", "TypePoint")</li>
    <li>@Html.ActionLink("Utilisateurs", "List", "Account")</li>
    <li>@Html.ActionLink("Importer les résultats", "Import", "Resultat")</li>
    <li>@Html.ActionLink("Messages", "Index", "Contact", routeValues: null, htmlAttributes: new { @class = "username", title = "Support" })</li>
}
