@model WUI.Models.PointModel

@{
    ViewBag.Title = "Suppression";
}

<h3>Êtes-vous sur de vouloir supprimer cet élément ?</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ordre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LibelleCourse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LibelleTypePoint)
        </th>
    </tr>
    <tr>
       <td>
           @Html.DisplayFor(model => model.Titre)
       </td>
        <td>
            @Html.DisplayFor(model => model.Ordre)
        </td>
        <td>
            @Html.DisplayFor(model => model.Longitude)
        </td>
        <td>
            @Html.DisplayFor(model => model.Latitude)
        </td>
        <td>
            @Html.DisplayFor(model => model.LibelleCourse)
        </td>
        <td>
            @Html.DisplayFor(model => model.LibelleTypePoint)
        </td>
    </tr>
</table>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <p>
        <button type="submit" value="Delete" class="btn btn-default">Delete</button> |
        @Html.ActionLink("Retour à la liste", "Index", new { id = Model.IdCourse })
    </p>
}
