@using WUI.Models
@model PointView

@{
    ViewBag.Title = "Liste des points (utilisés pour configurer le parcours de la course)";
}

@section css {
    @Styles.Render("~/Content/Race/css")
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
}

<h2>@ViewBag.Title</h2>
<p>
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    @Html.ActionLink("Créer un nouveau point", "Create", new { id = Model.idCourse })
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.points.First().Ordre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.points.First().Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.points.First().Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.points.First().Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.points.First().LibelleCourse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.points.First().LibelleTypePoint)
            </th>
            <th>&nbsp;</th>
        </tr>
    </thead>

    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model.points)
            {
                <tr>
                    <td>
                        @if (item.Ordre != 0) {
                            <a href="@Url.Action("Up", "Point", new { id = item.Id })">
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </a>
                        }

                        @if (item.Ordre != Model.points.Last().Ordre) {
                            <a href="@Url.Action("Down", "Point", new { id = item.Id })">
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </a>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ordre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Longitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Latitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LibelleCourse)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LibelleTypePoint)
                    </td>
                    <td>
                        @Html.ActionLink("Modifier", "Update", new { idPoint = item.Id }) /
                        @Html.ActionLink("Supprimer", "Delete", new { idPoint = item.Id })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div>
   @Html.ActionLink("Retour à la liste des Courses", "Index", "Race")
</div>

@section scripts {
    @Scripts.Render("~/bundles/Race/js")
}
