@using WUI.Models
@model IEnumerable<RaceModel>

@{
    ViewBag.Title = "Liste de mes inscriptions";
}

@section css {
    @Styles.Render("~/Content/Race/css")
}

<h2>@ViewBag.Title</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Town)
            </th>
            <th>&nbsp;</th>
        </tr>
    </thead>

    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateEnd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Town)
                    </td>
                    <td>
                        @Html.ActionLink("Se désinscrire", "Unsubscribe", new { idRace = item.Id })<br/>
                        @if (Request.IsAuthenticated)
                        {
                            @Html.ActionLink("Mon résultat", "Resultat", "Resultat", new { id = item.Id }, null)
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section scripts {
    @Scripts.Render("~/bundles/Race/js")
}
